.vacancies {
	@include adaptiv-value('padding-top', 100, 40, 1);
	@include adaptiv-value('padding-bottom', 160, 100, 1);
	position: relative;

	&__wrapper {
		width: 100%;
		max-width: 800px;
	}

	&__title {
		color: $red-500;
		@include adaptiv-value('margin-bottom', 40, 10, 1);
	}

	&__text {
		@include adaptiv-value('margin-bottom', 40, 20, 1);
        @include adaptiv-value("font-size", 16, 14, 1);
	}

	&__bg {
		position: absolute;
		top: 200px;
		right: -300px;
		width: 100%;
		max-width: 577px;
		height: 577px;
		@include bg-conatin;

        @include mq(xl) {
            display: none;
        }
	}
}
