.footer {
	padding: 80px 0 50px 0;
	color: $white;
	font-size: 14px;
	line-height: 1.1;
	background-color: $dark-800;

	@include mq(lg) {
		padding-top: 50px;
	}

	&__container {
		@include flex-v-center;
		max-width: 1160px;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	&__top,
	&__bottom {
		display: flex;
		justify-content: space-between;
	}

	&__top {
		@include mq(lg) {
			flex-wrap: wrap;
		}

		@include mq(sm) {
			margin-bottom: 30px;
		}
	}

	&__logo {
		margin-bottom: 12px;

		@include mq(lg) {
			margin-bottom: 20px;
		}
	}

	&__company {
		@include flex-v-sb;
		margin-top: -30px;

		@include mq(lg) {
			width: 100%;
			margin-top: 0;
		}
	}

	&__rights {
		margin-top: auto;
	}

	&__subtitle,
	&__subtext,
	&__rights {
		color: rgba($white, 0.3);
	}

	&__subtitle {
		display: inline-block;
		margin-bottom: 26px;
		font-weight: $fw-500;
		letter-spacing: 0.06em;

		@include mq(lg) {
			margin-bottom: 15px;
		}

		&--small {
			font-size: 12px;
		}
	}

	&__navigation {
		margin-right: 20px;

		@include mq(sm) {
			width: 100%;
			margin-right: 0;
			margin-bottom: 20px;
		}
	}

	&__items {
		margin-bottom: 8px;

		@include mq(sm) {
			display: flex;
			padding-top: 8px;
			overflow-x: auto;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 4px;

			@include mq(sm) {
				margin-right: 10px;
				margin-bottom: 0;
			}
		}
	}

	&__vk {
		display: flex;
		max-width: fit-content;
		margin-bottom: 28px;

		.vk__icon {
			filter: invert(11%) sepia(90%) saturate(3806%) hue-rotate(348deg)
				brightness(113%) contrast(102%);
		}

		&:hover {
			.vk__icon {
				filter: none;
				filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(319deg)
					brightness(102%) contrast(102%);
			}
		}
	}

	&__list {
		display: flex;

		@include mq(sm) {
			flex-direction: column;
		}
	}

	&__contact {
		max-width: 150px;

		&:not(:last-child) {
			@include adaptiv-value('margin-right', 45, 16, 1);

			@include mq(sm) {
				margin-right: 0;
				margin-bottom: 16px;
			}
		}
	}

	&__phone {
		display: block;
		margin-bottom: 8px;
	}

	&__subtext {
		display: block;
		font-size: 12px;
	}

	&__rights {
		@include mq(lg) {
			display: none;
		}

		&--mobile {
			display: none;

			@include mq(lg) {
				@include flex-center-sb;
			}
		}

		span {
			display: block;

			&:not(:last-child) {
				margin-bottom: 6px;

				@include mq(lg) {
					margin-right: 12px;
					margin-bottom: 0;
				}
			}
		}
	}
}
