.form {
	&__field {
		width: 100%;
		padding: 15px 18px;
		border: 1px solid $black;
		border-radius: 15px;

		&::placeholder {
			color: $black;
		}

		&--message {
			width: 100%;
			max-width: 100%;
			min-height: 175px;
		}
	}

	&__agree {
		position: relative;
		display: flex;
		flex-direction: row-reverse;
		justify-content: start;
		font-size: 12px;
		line-height: 1.2;
		cursor: pointer;
		@include adaptiv-value('margin-bottom', 30, 20, 1);
	}

	&__hidden {
		@include hidden;

		&:checked + .form__visible {
			&::before {
				opacity: 1;
			}
		}

		&:checked + .form__visible--agree {
			&::before {
				opacity: 1;
			}
		}
	}

	&__visible {
		position: relative;
		display: inline-block;
		width: 22px;
		height: 22px;
		margin-right: 10px;
		border: 1px solid $white;
		border-radius: 50%;

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 14px;
			height: 14px;
			background-color: $white;
			border-radius: inherit;
			transform: translate(-50%, -50%);
			opacity: 0;
			transition: opacity 0.3s;
			content: '';
		}

		&--agree {
			width: 13px;
			height: 13px;
			border-color: $black;
			border-radius: 0;

			&::before {
				width: 10px;
				height: 10px;
				background-color: transparent;
				background-image: url('../img/icons/check.svg');
				@include bg-conatin;
			}
		}
	}
}
