.header {
	padding: 15px 0;

	&__wrapper {
		display: flex;
		align-items: center;
	}

	&__logo {
		margin-right: 20px;
	}

	&__vk {
		margin-right: 20px;
		margin-left: auto;
		transition: filter 0.2s;

		&:hover {
			.vk__icon {
                filter: invert(11%) sepia(90%) saturate(3806%) hue-rotate(348deg)
				brightness(113%) contrast(102%);
            }
		}

		@include mq(md) {
			display: none;
		}
	}

	&__phone {
		color: $black;
		border-color: $black;

		&:hover {
			color: $red-500;
			border-color: $red-500;
		}

		@include mq(xl) {
			margin-right: 20px;
		}

		@include mq(md) {
			margin-left: auto;
			padding: 14px 32px;
			font-size: 16px;
		}

		@include mq(sm) {
			display: none;
		}
	}
}

.menu {
	@include flex-center-sb;
	margin-right: 20px;
	margin-left: auto;

	@include mq(xl) {
		position: absolute;
		top: -100%;
		right: 0;
		left: 0;
		z-index: 5;
		flex-direction: column;
		justify-content: flex-start;
		width: 100%;
		height: 100vh;
		margin-right: 0;
		margin-left: 0;
		padding: 50px 20px 20px;
		overflow-y: scroll;
		background-color: $white;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.4s, top 0.4s;
	}

	&--active {
		@include mq(xl) {
			top: 0;
			visibility: visible;
			opacity: 1;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-right: 25px;

			@include mq(xl) {
				margin-right: 0;
				margin-bottom: 20px;
			}
		}
	}

	&__link {
		font-weight: $fw-500;
		line-height: 1;
        transition: color 0.4s;

        &:hover {
            color: $red-500;
        }
	}
}

.burger {
	z-index: 10;
	display: none;
	order: 1;
	@include burger;

	@include mq(xl) {
		display: flex;
	}

	@include mq(sm) {
		margin-left: auto;
	}
}
