.loyalty {
	&__wrapper {
		position: relative;
		padding-bottom: 120px;
		overflow: hidden;
		color: $white;
		background-color: $red-500;
		border-radius: 37px;
		@include adaptiv-value('padding-top', 140, 40, 1);

		@include mq(lg) {
			padding-bottom: 320px;
		}
	}

	&__bg {
		position: absolute;
		top: 50%;
		left: -90px;
		width: 100%;
		max-width: 434px;
		height: 614px;
		transform: translateY(-50%);
		@include bg-conatin;

		@include mq(xl) {
			left: -200px;
			max-width: 350px;
			height: 500px;
		}

		@include mq(lg) {
			top: unset;
			bottom: -14%;
			left: 50%;
			transform: translate(-50%, 0) rotate(-90deg);
		}
	}

	&__content {
		width: 100%;
		max-width: 800px;
		margin-left: auto;

		@include mq(lg) {
			margin: 0 auto;
		}
	}

	&__title {
		@include adaptiv-value('margin-bottom', 50, 16, 1);
	}

	&__items {
		margin-bottom: 7px;
		column-count: 2;

		@include mq(sm) {
			column-count: 1;
		}
	}

	&__item {
		margin-bottom: 20px;
	}

	&__radio {
		cursor: pointer;
	}

	.form {
		&__field {
			border-color: $white;

			&::placeholder {
				color: $white;
			}

			&--number {
				@include number;
			}
		}

		&__agree {
			.form__visible {
				&--agree {
					border-color: $white;

                    &::before {
                        background-color: $white;
                    }
				}
			}
		}

		&__button {
			color: $black;
			background-color: $white;

			&:hover {
				color: $white;
				background-color: $black;
			}
		}
	}

	&__custom {
		display: flex;
		@include adaptiv-value('margin-bottom', 50, 40, 1);
	}

	&__radio {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;

		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}
