<article class="product-card">
    <picture>
       <source srcset="img/products/@img.avif" type="image/avif">
       <source srcset="img/products/@img.webp" type="image/webp">
       <img class="product-card__img" src="img/products/@img.jpg" alt="@alt" width="387" height="300" loading="lazy">
    </picture>
    <div class="product-card__info">
        <h3 class="product-card__title">
            @title
        </h3>
        <span class="product-card_size">@size</span>
    </div>
    <span class="product-card__subtext">@subtext</span>
    <a class="product-card__link button button--border" href="#">Заказать</a>
</article>