.about {
	@include adaptiv-value('padding-top', 150, 50, 1);
	@include adaptiv-value('padding-bottom', 150, 50, 1);
	display: flex;
	background-color: $yellow-400;
    height: 700px;

	&__wrapper {
		flex: 0 0 100%;
	}

	&__bg {
		position: relative;
		flex: 0 0 30%;
		padding-bottom: 28%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		transform: translateX(0);

        @include mq(lg) {
            display: none;
        }
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include bg-cover;
	}

    &__inner {
        width: 50%;

        @include mq(xl) {
            width: 68%;
        }

        @include mq(lg) {
            width: 100%;
        }
    }

	&__title {
		margin-bottom: 30px;
		font-weight: $fw-500;
        @include adaptiv-value("font-size", 30, 22, 1);
	}

	&__accent {
		font-weight: $fw-700;
	}

	&__text {
		margin-bottom: 30px;
		@include adaptiv-value('margin-bottom', 30, 20, 1);
	}

	&__link {
		position: relative;
		flex-wrap: wrap;
		justify-content: flex-start;
		max-width: fit-content;
		padding: 10px 89px 10px 15px;
        @include adaptiv-value('font-size', 16, 14, 1);

		&::before {
			position: absolute;
			top: 50%;
			right: 13px;
			width: 25px;
			height: 25px;
			background-image: url('../img/icons/arrow.svg');
			transform: translateY(-50%);
			content: '';
			@include bg-conatin;
		}

		span {
			margin-left: 3px;
			font-weight: $fw-600;
		}
	}
}
