.gallery {
	@include bg-cover;
	position: relative;
	z-index: 1;
    @include adaptiv-value("margin-top", 80, 40, 1);
    @include adaptiv-value("margin-bottom", 80, 40, 1);

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-color: rgba($black, 0.6);
		content: '';
	}

	&__item {
		@include adaptiv-value('height', 700, 360, 1);
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__button {
		@include swiper-button;
	}

	.swiper-button-disabled {
		opacity: 1;
	}
}
