.opinion {
	@include adaptiv-value('padding-top', 80, 40, 1);
	@include adaptiv-value('padding-bottom', 80, 40, 1);
	display: flex;
	align-items: center;

	&__bg {
		position: relative;
		flex: 0 0 35%;
		padding-bottom: 35%;
		transform: translateX(-160px);

		@include mq(xl) {
			transform: translateX(0);
		}

		@include mq(lg) {
			display: none;
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include bg-conatin;
	}

	&__wrapper {
		flex: 0 0 100%;
	}

	&__inner {
		width: 60%;

		@include mq(lg) {
			width: 100%;
		}
	}

	&__title {
		@include adaptiv-value('margin-bottom', 54, 20, 1);
	}

	&__items {
		display: flex;
		margin-bottom: 20px;

		@include mq(sm) {
			flex-direction: column;
			margin-bottom: 10px;
		}
	}

	&__item {
		width: 49%;

		@include mq(sm) {
			width: 100%;
		}

		&:not(:last-child) {
			margin-right: 20px;

			@include mq(sm) {
				margin-right: 0;
                margin-bottom: 10px;
			}
		}

		&--message {
			width: 100%;
			margin-right: 0;
			@include adaptiv-value('margin-bottom', 30, 20, 1);
		}
	}
}

.form {
	&__field {
		width: 100%;
		padding: 15px 18px;
		border: 1px solid $black;
		border-radius: 15px;

		&::placeholder {
			color: $black;
		}

		&--message {
			width: 100%;
			max-width: 100%;
			min-height: 175px;
		}
	}

	&__agree {
		display: flex;
		flex-direction: row-reverse;
		justify-content: start;
		font-size: 12px;
		line-height: 1.2;
		@include adaptiv-value('margin-bottom', 30, 20, 1);
	}

	&__check {
		width: 13px;
		height: 13px;
		margin-right: 10px;
		border: 1px solid $black;
		border-radius: 0;
	}
}
