.catalog-navigation {
	@include adaptiv-value('margin-bottom', 100, 60, 1);

	&__items {
		display: flex;
        flex-wrap: wrap;
	}

	&__item {
		margin-right: 4px;
		margin-bottom: 4px;
	}

	&__link {
        display: block;
		padding: 16px 30px;
		color: $white;
		line-height: 1.1;
		background-color: $grey-400;
		border-radius: 11px;

		&--active {
			background-color: $red-500;
		}
	}
}
