.products {
    margin-bottom: 70px;

    &:last-child {
        @include adaptiv-value("margin-bottom", 160, 100, 1);
    }

    &__title {
        margin-bottom: 40px;
        font-size: 30px;
        line-height: 1.1;
        display: inline-block;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @include mq(lg) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mq(sm) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}