/* stylelint-disable */

// * colors
$white: #ffffff;
$black: #000000;

$dark-800: #1f2020;

$grey-100: #f6f6f6;
$grey-200: #f1f1f1;
$grey-400: #dddddd;

$red-500: #b52027;
$yellow-400: #ffd400;

// * fonts
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

$manrope: 'Manrope';
