.accordion {
	&__item {
		position: relative;

		&::before,
		&::after {
			position: absolute;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: $red-500;
			content: '';
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		&:not(:last-child) {
			&::after {
				display: none;
			}
		}
	}

	&__control {
		position: relative;
		width: 100%;
		padding: 16px 5px;
		font-weight: $fw-500;
		font-size: 20px;
		line-height: 1;
		text-align: left;

		&::before,
		&::after {
			position: absolute;
			top: 50%;
			right: 17px;
			background-color: $red-500;
			transform: translateY(-50%);
			content: '';
		}

		&::before {
			width: 18px;
			height: 2px;
		}

		&::after {
			right: 25px;
			width: 2px;
			height: 18px;
		}
	}

	&__content {
		@include adaptiv-value('font-size', 14, 12, 1);
		max-height: 0;
		overflow: hidden;
		opacity: 0;
		transition: all 0.3s ease-out;
		will-change: max-height;
	}

	&__box {
		&:not(:last-child) {
			margin-bottom: 10px;
		}

		ul {
			padding-left: 7px;
			list-style: inside;
		}
	}

    &__title {
        background-color: transparent;
        transition: background-color 0.4s;
    }

	&__subtitle {
		font-weight: $fw-600;
	}

	.open &__content {
		@include adaptiv-value('margin-top', 30, 20, 1);
		margin-bottom: 30px;
		padding-left: 10px;
		opacity: 1;
	}

    .open &__title {
        background-color: $grey-100;
    }
}
